/*
David Whimple
AVF 1307
Project 4
CSS Stylesheet
*/

@media screen and (orientation:portrait)
{
	html *{
		font-family: serif;
	}
	header.ui-header.ui-bar-a.ui-header-fixed.slidedown{
		height: 85px;
		background-image: url(../images/android.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-color: black;
		background-size: 10% auto;
	}
	h1,h4{
		color: #8dcc40;
		text-align: center;
		text-shadow: none;
	}
	h4.subtext{
		word-wrap: break-word;
		max-width: 250px;
	}
	h2.h2{
		font-size: 16px;
		text-shadow: 0px 7px 10px #000000;
	}
	a{
		color: #8dcc40;
		font-size: 12px;
		text-decoration: none;
		text-shadow: 0px 7px 10px #000000;
	}
	p{
		color: white;
		text-shadow: none;
	}
	#home,#instagram,#espn,#compass,#geolocation {
		background-image: url(../images/background.jpg);
		background-position: center center;
		background-size: 100% auto;
	}
	#homeAccordian{
		width: 95%;
		margin: 0px auto;
		opacity: .85;
	}

	span.ui-btn-inner{
		text-align: center;
	}
	span.ui-btn-text{
		padding-right: 25px;
		color: #8dcc40;
	}
	#nfl,#ncaaFootball,#mlb,#nba,#ncaaBasketball,#wnba,#wNcaaBasketball,#boxing,#nhl,#golf,#tennis,#soccer,#mma,#nascar{
		color: #8dcc40;
		font-size: 12px;
		text-decoration: none;
		text-shadow: 0px 7px 10px #000000;
	}
	#instagramLink,#masterLink,#iosLink,#androidLink,#native,#research,a.links.ui-link,#compassLink,#camera,#accelerometer,#connection{
		color: #8dcc40;
		margin: 0px auto;
		padding-right: 35px;
		font-size: 12px;
		text-align: center;
		text-decoration: none;
		text-shadow: 0px 7px 10px #000000;

	}
	ul{
		margin: 0px auto;
		list-style: none;
		color: white;
		text-align: center;
	}
	td{
		width: 55px;
		margin: 7px 5px 7px 35px;
		display: inline-block;
		color: white;
	}
	li{
		padding-top: 15px;
	}
	#instagramMessage,#espnMessage,#compassMessage{
		color: #ececec;
		font-size: 12px;
		text-shadow: none;
	}
	#direction{
		text-align: center;
	}
	img{
		width: 250px;
		-moz-box-shadow: 10px 10px 20px #000;
		-webkit-box-shadow: 10px 10px 20px #000;
		box-shadow: 10px 10px 20px #000;
		border-radius: 15px;
	}
	div.images{
		text-align: center;

		font-size: 13px;
		padding: 15px 20px 15px 20px;
		margin: 15px;
		background: rgba(73, 73, 73, 0.5);
		border-radius: 15px;
		height: 300px;
	}
	div.article{
		border-radius: 15px;
		margin: 15px;
		padding: 5px 10px 5px 10px;
		background: rgba(73, 73, 73, 0.3);
	}
}

@media screen and (orientation:landscape)
{
	html *{
		font-family: serif;
	}
	h1,h4{
		color: #8dcc40;
		text-align: center;
		text-shadow: none;
	}
	h4.subtext{
		word-wrap: break-word;
		max-width: 133px;
		text-align: center;
	}
	h2.h2{
		font-size: 20px;
		text-shadow: 0px 7px 10px #000000;
	}
	a{
		color: #8dcc40;
		font-size: 14px;
		text-decoration: none;
		text-shadow: 0px 7px 10px #000000;
	}
	p{
		color: white;
		text-shadow: none;
	}
	#home,#instagram,#espn,#compass,#geolocation {
		background-image: url(../images/background.jpg);
		background-position: center center;
		background-size: 100% auto;
	}
	#homeAccordian{
		width: 95%;
		margin: 0px auto;
		opacity: .85;
	}

	span.ui-btn-inner{
		text-align: center;
	}
	span.ui-btn-text{
		padding-right: 25px;
		color: #8dcc40;
	}
	#nfl,#ncaaFootball,#mlb,#nba,#ncaaBasketball,#wnba,#wNcaaBasketball,#boxing,#nhl,#golf,#tennis,#soccer,#mma,#nascar.ui-link{
		color: #8dcc40;
		font-size: 12px;
		text-decoration: none;
		text-shadow: 0px 7px 10px #000000;
	}
	#instagramLink,#masterLink,#iosLink,#androidLink,#native,#research,a.links.ui-link,#compassLink,#camera,#accelerometer,#connection{
		color: #8dcc40;
		margin: 0px auto;
		padding-right: 35px;
		font-size: 12px;
		text-align: center;
		text-decoration: none;
		text-shadow: 0px 7px 10px #000000;
	}
	ul{
		margin: 0px auto;
		list-style: none;
		color: white;
		text-align: center;
	}
	td{
		width: 55px;
		margin: 10px 0px 10px 40px;
		display: inline-block;
		color: white;
	}
	li{
		padding-top: 15px;
	}
	#instagramMessage,#espnMessage,#compassMessage{
		color: #ececec;
		font-size: 10px;
		text-shadow: none;
	}
	#direction{
		text-align: center;
	}
	img{
		width: 133px;
		-moz-box-shadow: 10px 10px 20px #000;
		-webkit-box-shadow: 10px 10px 20px #000;
		box-shadow: 10px 10px 20px #000;
		border-radius: 15px;
	}
	div.images{
		float: left;
		display: inline;
		text-align: center;
		font-size: 13px;
		padding: 15px 20px 15px 20px;
		margin: 8px;
		background: rgba(73, 73, 73, 0.5);
		border-radius: 15px;
		height: 190px;
	}
	div.article{
		border-radius: 15px;
		margin: 15px;
		padding: 5px 10px 5px 10px;
		background: rgba(73, 73, 73, 0.3);
	}
}























